PORT=5000

MONGO_URI=mongodb+srv://tanmaypawar200_db_user:Tanmay123456@cluster0.wjsoo4j.mongodb.net/car_dealership

ADMIN_USER_ID=user_3HUi3th0CqRgPDJqmnNYA5LwPGm

CLERK_PUBLISHABLE_KEY=pk_test_aW5ub2NlbnQtc3F1aWQtMzEuY2xlcmsuYWNjb3VudHMuZGV2JA

CLERK_SECRET_KEY=sk_test_Qk2XRbc1LSTmT6Fq7zywNshDfvLVQYZFuTU7bCbM95